.App {
    text-align: center;
    padding: 20px;
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #6c0606;
    border-radius: 5px;
  }
  
  .todo span {
    margin: 0 10px;
  }
  
  .input {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  